.app-layout {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.topbar {
    padding: 24px;
}

.content {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.content {
    color: #5a4636;
}


.content>* {
    background: white;

    padding: 20px;

    border-radius: 18px;

    box-shadow: 0 4px 12px rgba(178, 163, 163, 0.05);
    flex: 1;
    min-height: calc(100vh - 32px);
    box-sizing: border-box;

}