.tag-card {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 12px 0;
  border-top: 1px dashed #eee;
  border-bottom: 1px dashed #eee;
}

.tag-select {
  appearance: none;
  background: #fdfaf5;
  color: #5a4636;
  border: 1px solid #d4c5b9;
  padding: 6px 30px 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
}

.checkbox-tag {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.series-input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* 自訂標籤外框 */
.custom-tag-wrapper {
  display: inline-flex;
  align-items: center;
  border: 1px solid #d3c5b8;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  height: 32px;
  margin-right: 8px;
}

/* 隱藏預設 input 樣式 */
.custom-tag-input {
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 0.6em;
  color: #554940;
  width: 75px;
  background: transparent;
}

/* 確認按鈕 */
.custom-tag-btn {
  background-color: #f7f3f0;
  border: none;
  border-left: 1px solid #d3c5b8;
  color: #554940;
  padding: 0 12px;
  cursor: pointer;
  height: 100%;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.custom-tag-btn:hover {
  background-color: #e6dace;
}

/* 收藏愛心樣式 */
.favorite-heart {
  cursor: pointer;
}

.favorite-heart input {
  display: none;
}

.heart {
  font-size: 20px;
  user-select: none;
}