.bookshelf-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-end;

    margin-top: 80px;
    /*  往下移 */
}

.floating-search {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 260px;
    z-index: 1000;
}

.floating-search input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    color: #3b3b3b;
}

/* ✨ 點下去效果 */
.floating-search input:focus {
    animation: breathe 1.6s ease-in-out infinite;
}