.side-panel {
  position: fixed;
  top: 20px;
  right: 20px;
  height: calc(100vh - 40px);

  width: 0;
  opacity: 0;
  padding: 0;

  background: white;
  transition: width 0.3s ease, padding 0.3s ease, opacity 0.3s ease;

  overflow-y: auto;
  overflow-x: hidden;

  border-radius: 18px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);

  z-index: 1000;

  pointer-events: none;
  visibility: hidden;
}

.side-panel.open {
  width: 400px;
  min-width: 320px;
  opacity: 1;
  padding: 20px;
  pointer-events: auto;
  visibility: visible;
}

.side-panel.open::-webkit-scrollbar {
  width: 0px;
}


.panel-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */
.panel-header {
  position: relative;
  padding: 0 0 12px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 16px;
  min-height: 28px;
}

.panel-title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #333;
  text-align: left;
  word-break: break-all;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #888;
}

.close-btn:hover {
  color: #222;
}